.chat{
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.chat__header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom:  1px solid lightgrey;
}

.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
}


.chat__headerInfo > h3{
margin-bottom: 3px;
font-weight: 500;
}

.chat__headerInfo > P{
    color: gray;
}

.chat__name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}



.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chat__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;

}
.chat__reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}


.chat__headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body{
    flex: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input{
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    border: None;
    outline: none;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}